$dark-color: #18214D;
$primary-color: #29335C;
$secondary-color: #F3663F;
$neutral-color: #DFE4EA;
$placeholder-color: #EFF2F6;
$white-color: #fff;
$paragraph-color: #3E4462;
$placeholder-primary-color: #B1B5C5;




