.main {
    background: $white-color;
    font-family: $font-stack;

    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
   }
  // normal styling code here

  @include respond(tablet) {
        // background: green;
        // responsive code for tablet viewport i.e. 600px
    }

  @include respond(mobile) {
        // background: blue;
        // responsive code for mobile viewport i.e. 480px   
    }
}