@import '../../styles/colours';
@import '../../styles/mixins';
@import '../../styles/base';

.logo {

    @include respond(mobile){
       width: 198px;
        height: 34px;
        justify-content: center;
        margin: 0;
    }

    color: $dark-color;
    font-family: $font-stack;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.6px;
    display: flex;
    align-items: center;
    margin-right: 32px;
}