@import '../../styles/colours';
@import '../../styles/mixins';

.explorer-header {
    background-color: $placeholder-color;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 36px 0;
}

.explorer-header-container {
    background-color: #EFF2F6;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: $placeholder-color;
    padding: 36px 0;
}

.explorer-title {
    height: 44px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -1.5px;
    color: $primary-color;
    margin: 32px auto; 
    width: 100%; 

    > p {
        margin: 0;

    };

    > h2 {
        @include respond(mobile){
            font-size: 36px;
            word-break: break-all; 
        }
    }
}

.explorer-loading,
.explorer-error {
    display: flex;
    justify-content: center;
    padding: 96px 0 0 0;
    font-size: 20px;
    line-height: 28px;
    color: $dark-color;

    > p {
        margin: 0;
    }
}

.commits-container {
    display: flex;
    width: 100vw;
    padding: 20px 20px;
}
